@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Caslon+Text&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Caslon Text', serif;
}

/* Styling av ID */

#grid_wrapper_start {
    height: 100vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh auto 600px 200px;
    grid-template-areas: 
    "s1"
    "s2"
    "s3"
    "fo"
    ;
}

#grid_wrapper_forening {
    height: 100vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows:auto auto auto auto 200px;
    grid-template-areas: 
    "s1f"
    "s2f" 
    "s3f"
    "s4f"
    "fo"
    ;
}

#grid_wrapper_slakthistoria {

}

.wrapper {
    background-color: #F3F1EF;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#welcome_text_section {
    grid-area: s1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#actual_updates_section {
    grid-area: s2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    background-color: #F3F1EF;
    color: #273353;
}

#förening_information {
    grid-area: s3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #273353;
}

#nav{
    background-color: transparent;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 80px;
    width: 100%;
    z-index: 1;
}

#welcome_text_article {
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #273353;
    padding: 20% 3% 20% 3%;
    border-radius: 1px;
}

#styrelse_section {
    padding-top: 150px;
    padding-bottom: 50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #273353;
    background-color: #F3F1EF;
}

#slakt_historia_section {
    height: auto;
    background-color: #F3F1EF;
    color: #273353;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 20px 20px 10px;
}

#img_area {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;

    background-image: url(/img/tallin.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    z-index: -1;
    overflow-x: hidden;
}

#besok_slaktrad_section {
    background-image: url(../img/slakttrad.jpg);
    background-position: center;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slakttrad_info_sectinon {
    background-color: #F3F1EF;
    color: #273353;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 0px 10px;
}

#section_forening {
    grid-area: s1f;
    padding: 80px 10px 10px 10px;
    text-align: center;
    background-color: #F3F1EF;
    color: #273353;
}

#information_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

#forening_img1_section {
    grid-area: s2f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#forening_img2_section {
    grid-area: s3f;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#forening_img3_section {
    grid-area: s4f;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.forening_img {
    width: 80vw;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: solid 2px #F3F1EF;
}

#forening_h2 {
    padding-top: 30px;
    margin: 0px;
    color: #273353;
}

#slakt_historia_rubric {
    margin-left: 0;
    font-size: 2rem;
}

#slaktfoto {
    height: auto;
    width: 90%;
}

#burger {
    margin-right: 30px;
    cursor: pointer;
}

#burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 20%;
    transition: all 0.5s;
}

.burger_index {
    background-color: #fff;
}

.burger_other {
    background-color: #273353;
}

#link_list {
    position: absolute;
    top: -100vh;
    list-style: none;
    background-color: #fff;
    color: #273353;
    height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.25s;    
    font-size: 20px;
}

.link_list_visible {
    transform: translatey(100vh);
    margin-top: 80px;
}

.img_vapen {
    height: 80px;
    width: auto;
    margin-right: 5px;
    margin-left: 5px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Styling av CLASS */

.nav_other {
    background-color: #fff;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 80px;
    width: 100%;
    z-index: 1;
}

.update_article {
    height: auto;
    width: 90vw;
    background-color: #fff;
    padding: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #273353;
    margin-bottom: 20px;
}

.board_member_card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    width: 90vw;
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #273353;
}

.member_info {
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-wrap:break-word;
}

.member_img {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 15px;
    filter: grayscale();
}

.button {
    padding: 10px;
    border: #fff solid 2px;
    border-radius: 2px;
}

.button:hover {
    cursor: pointer;
    border:  #273353 solid 3px;
}

#button_text {
    color: #fff;
}

.mail_link {
    margin-top: 5px;
    font-size: 10px;
}

.update_date {
    font-weight: lighter;

}

#other_h1 {
    color: #273353;
}

.start_p {
    text-align: center;
    margin: 15px 10px 0 10px;
}

.burger_x_form #burger_line_2 {
    opacity: 0;
}

.burger_x_form #burger_line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_x_form #burger_line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Styling av taggar */

h1 {
    font-family: 'Libre Caslon Text', serif;
    color: #fff;
    font-size: 24px;
}

h2 {
    margin: 0px 25px 20px 25px;
    text-align: center;
}

footer {
    width: 100vw;
    background-color: #273353;
    display: flex;
    justify-content: center;
    grid-area: fo;
}

img {
    height: 200px;
    width: auto;
    margin: 30px;
}

a {
    color:#273353;
    text-decoration: none;
    cursor: pointer;
}

p {
    font-size: 1rem;
    margin-bottom: 1.2rem;
}

body {
    overflow-x: hidden;
}

/* Media Queries */

@media screen and (min-width: 700px) {

#nav {

}

#link_list {
    position: static;
    list-style: none;
    background-color: #fff;
    color: #273353;
    height: 80px;
    width: 100vw;
    
    display: inline;
    text-align:end;
    padding-top: 30px;
}

li {
    display: inline;
    margin: 50px;
    font-weight: bold;
}

#burger {
    display: none;
}

h1 {
    color: #273353;
}

/* Startsida */
#grid_wrapper_start{
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh auto auto 200px;
    grid-template-areas: 
    "s1"
    "s2"
    "s3"
    "fo"
    ;
}

#welcome_text_article {
    height: 100%;
    width: 50vw;
    margin-top: 160px;
    padding: 100px 0px 0px 50px;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.start_p {
    margin: 0px;
    margin-top: 20px;
}

h2 {
    margin: 0px;
}

#img_area {
    position: static;
    height: 40vw;
    width: 40%;
    border-radius: 50%;
    z-index: 0;

    
}

#welcome_text_section {
    grid-area: s1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    background-color: #273353;
    margin-top: 80px;
    
}

#actual_updates_section {
    background-color: #fff;   
}

#förening_information {
    background-color: #F3F1EF;
    flex-direction: row;
}

p {
    margin-top: 10px;
}

#slaktfoto {
    width: 50%;
}

#update_flex_change {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
}

.update_article {
    height: 500px;
    width: 300px;
    margin-top: 10px;
    margin-right: 20px;
    background-color: #F3F1EF;
}

/* Styrelse */
.wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.board_member_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    width: 300px;
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #273353;
}

.member_info {
    width: 80%;
    align-items: center;
}

/* Historia */
#slakt_historia_section {
    padding-right: 40%;
    padding-left: 70px;
}

/* Förening */
#grid_wrapper_forening {
    background-color: #F3F1EF;
    padding-top: 80px;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 250px 250px 250px 200px;
    grid-template-areas: 
    "s1f s2f"
    "s1f s3f" 
    "s1f s4f"
    "fo fo"
    ;
}

#section_forening {
    grid-area: s1f;
    padding: 20px 10px 10px 30px;
    text-align: start;
    background-color: #F3F1EF;
    color: #273353;
}

#forening_img1_section{
    background-color: #F3F1EF;
    justify-content: flex-end;
}

#forening_img2_section{
    background-color: #F3F1EF;
    align-items: flex-end;
}

#forening_img3_section{
    background-color: #F3F1EF;
    align-items: flex-end;
}

.forening_img{
    width: 80%;
}

#forening_h2 {
    display: none;
}

.non_center_forening {
    text-align: start;
    padding-right: 100px;
}

/* Träd */

#besok_slaktrad_section {
    width: 50%;
    height: 100vh;
}

#slakttrad_info_sectinon {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 100px 30px 0px 30px;
    height: 100vh;
    width: 50%;
}

#wrapper_trad {
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


}