@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Caslon+Text&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Caslon Text', serif;
}

/* index  */

#nav{
    background-color: transparent;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 80px;
    width: 100%;
    z-index: 1;
}

#img_area {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;

    background-image: url(../img/tallin.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    z-index: -1;
    overflow-x: hidden;
}

#welcome_text_article {
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-color: #273353;
    padding: 20% 3% 20% 3%;
    border-radius: 1px;
}

#grid_wrapper_start {
    height: 100vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh auto auto 200px;
    grid-template-areas: 
    "s1"
    "s2"
    "s3"
    "fo"
    ;
}

#index_section1 {
    grid-area: s1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#index_section2 {
    grid-area: s2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    background-color: #F3F1EF;
    color: #273353;
}

#index_section3 {
    grid-area: s3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #273353;
}

.update_article {
    height: auto;
    width: 90vw;
    background-color: #fff;
    padding: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #273353;
    margin-bottom: 20px;
}


.aktuell_img {
    height: 200px;
    width: auto;
    margin: 30px;
}

.update_date {
    font-weight: lighter;
    text-align: center;
    font-size: 1rem;
}

.update_rubric {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
    font-size:1.3rem;
}

.home {
    text-align: center;
    margin: 15px 10px 0 10px;
}

/*  slakt_forening */

#grid_wrapper_forening {
    background-color: #F3F1EF;
    margin-top: 80px;
    height: 100vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows:40vh 30vh auto auto auto auto 350px 40px 400px 400px 400px 400px 400px 400px 200px;
    grid-template-areas: 
    "s1f"
    "s2f" 
    "s3f"
    "s4f"
    "s5f"
    "s6f"
    "s7f"
    "hsf"
    "s8f"
    "s9f"
    "s10f"
    "s11f"
    "s12f"
    "s13f"
    "fo"
    ;
}

#slakt_forening_section1 {
    grid-area: s1f;
    background: #273353;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#slakt_forening_section2 {
    grid-area: s2f;
    background: #273353;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#section_forening_info_1{
    grid-area: s3f;
}
#section_forening_info_2{
    grid-area: s4f;
}

#section_forening_info_3{
    grid-area: s5f;
}

#section_forening_info_4{
    grid-area: s6f;
}

#section_styrelse_bild {
    grid-area: s7f;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F1EF;
}

#section_medlem_1 {
    grid-area: s8f;
}
#section_medlem_2 {
    grid-area: s9f;
}
#section_medlem_3 {
    grid-area: s10f;
}
#section_medlem_4 {
    grid-area: s11f;
}
#section_medlem_5 {
    grid-area: s12f;
}
#section_medlem_6 {
    grid-area: s13f;
}

#heading_styrelse {
    grid_area: hsf;
    color: #273353;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 10px;
}

.board_member_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10vw;
    padding-top: 10px;
    width: 80vw;
    background-color: #F3F1EF;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #273353;
    border-radius: 2px;
    box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
}

.forening_img {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
}

#forening_img1 {
    display: none;
}

.small_paragraph_forening {
    font-size: 0.8rem;
    font-weight:500;
    text-align: left;
}

.section_forening_info {
    background-color: #fff;
    color: #273353;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 20px 20px 0px 20px;
    overflow-wrap: break-word;
}

.member_img {
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 50%;
    filter: grayscale(1);
}

.member_info {
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.mail_link {
    margin-top: 5px;
    font-size: 10px;
}

/*  slakt_historia */

#wrapper_slakthistoria {
    width: 100vw;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

#slakt_historia_section1 {
    background-color: #273353;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
    padding: 20px;
}

#slakt_historia_section2 {
    height: auto;
    background-color: #F3F1EF;
    color: #273353;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

#slakt_historia_section3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 20px;
}

#slakt_historia_section4 {
    background-image: url(../img/bakgrund_historia.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color: #fff;
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3F1EF;
    text-align: center;
}

#slakt_historia_rubric {
    margin-left: 0;
    font-size: 2rem;
}

#slakt_historia_heading {
    margin-bottom: 10px;
}

.historia_info {
    text-align: left;
    margin-bottom: 30px;
    width: 90vw;
}

/*  slakt_trad */

#wrapper_trad {
    color: #273353;
    margin-top: 80px;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction:column;
    align-items: center;
}

#slakttrad_section2 {
    background-color: #fff;
    color: #273353;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#slakttrad_section3 {
    height: auto;
    color: #273353;
    background-color: #F3F1EF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#slakttrad_section1 {
    color: #fff;
    background-image: url(../img/slakttrad.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 60px;
}


#trad_vapen {
    width: 80vw;
    height: auto;
    margin: 20px;
}

.center_container {
    height: 100%;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* global */

footer {
    width: 100vw;
    height: 150px;
    background-color: #273353;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: fo;
}

.nav_other {
    background-color: #fff;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 80px;
    width: 100%;
    z-index: 1;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#link_list {
    position: absolute;
    top: -100vh;
    list-style: none;
    background-color: #fff;
    color: #273353;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.25s;    
    font-size: 20px;
}

#burger {
    margin-right: 30px;
    cursor: pointer;
}

#burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 20%;
    transition: all 0.5s;
}

.burger_index {
    background-color: #fff;
}

.burger_other {
    background-color: #273353;
}

.burger_x_form #burger_line_2 {
    opacity: 0;
}

.burger_x_form #burger_line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_x_form #burger_line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.link_list_visible {
    transform: translatey(100vh);
    margin-top: 80px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

.img_vapen {
    height: 80px;
    width: auto;
    margin-right: 5px;
    margin-left: 5px;
}

#other_h1 {
    color: #273353;
}

/* extra användbara */

.sido_article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    color: #273353;
}

.sido_bild{
    width: 90%;
    height: auto;
    margin: 30px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.button {
    padding: 10px 15px 10px 15px;
    
    border: #273353 solid 2px;
    background-color: #273353;
    border-radius: 20px;
}

.button:hover {
    cursor: pointer;
}

#button_text {
    color: #fff;
}

/* Styling av taggar */

h1 {
    font-family: 'Libre Caslon Text', serif;
    color: #fff;
    font-size: 24px;
}

h2 {
    
}

a {
    color:#273353;
    text-decoration: none;
    cursor: pointer;
}

p {
    font-size: 1rem;
    margin-bottom: 1.2rem;
}

body {
    overflow-x: hidden;
}


/* Media Queries */

@media screen and (min-width: 700px) {

#link_list {
    position: static;
    height: 80px;
    width: 100vw;
    display: inline;
    text-align:end;
    padding-top: 30px;
}

li {
    display: inline;
    margin: 50px;
    font-weight: bold;
}

#burger {
    display: none;
}

h1 {
    color: #273353;
}

/* Startsida */
#grid_wrapper_start{
    width: 100vw;
    grid-template-rows: 100vh auto 600px 200px;
}

#welcome_text_article {
    height: 100%;
    width: 50vw;
    margin-top: 160px;
    padding: 100px 0px 0px 50px;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.home_p {
    margin: 0px;
    margin-top: 20px;
}

h2 {
    margin: 0px;
}

#img_area {
    position: static;
    height: 40vw;
    width: 40%;
    border-radius: 50%;
    z-index: 0;
}

#index_section1 {
    flex-direction: row-reverse;
    justify-content: flex-end;
    background-color: #273353;
    margin-top: 80px;
    
}

#index_section2 {
    background-color: #fff;   
}

#index_section3 {
    background-color: #F3F1EF;
    flex-direction: row;
}

p {
    margin-top: 10px;
}

.sido_bild {
    height: 90%;
    width: auto;
    padding: 60px;
    display: flex;
    padding-right: 10%;
}

#update_flex_change {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
}

.update_article {
    height: 500px;
    width: 300px;
    margin-top: 10px;
    margin-right: 20px;
    background-color: #F3F1EF;
}

.update_rubric {
    margin-bottom: -10px;
}

/* Styrelse */

#styrelse_section {
    background-color: #fff;
}

.member_info {
    width: 80%;
    align-items: flex-start;
}

.member_img{
    height: 100%;
    width: 115px;
}
/* Historia */
#wrapper_slakthistoria {
    align-items: flex-start;
}

#slakt_historia_section1 {
    align-items: flex-start;
    text-align: left;
    padding-right: 40%;
    padding-left: 200px;
}

#slakt_historia_section2 {
    width: 100vw;
    flex-direction: column;
    justify-content: space-evenly;
}

#slakt_historia_section3 {
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 30px;
}

#slakt_historia_section4 {

}

#slakt_historia_heading {
    padding-left: 30px;
    margin-bottom: -20px;
}

.historia_info {
    text-align: left;
    padding: 30px;
    width: 30vw;
    margin-bottom: -10px;
}

.sido_article {
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 50vw;
}

.center_container {
    height: 100%;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}


/* Förening */
#grid_wrapper_forening {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60vh 50vh 70px 200px 200px 200px 200px 200px 200px 150px;
    grid-template-areas: 
    "s1f s1f s2f s2f"
    "s3f s4f s5f s6f"
    "hsf hsf hsf hsf"
    "s7f s7f s8f s8f"
    "s7f s7f s9f s9f"
    "s7f s7f s10f s10f"
    "s7f s7f s11f s11f"
    "s7f s7f s12f s12f"
    "s7f s7f s13f s13f"
    "fo fo fo fo"
    ;
}

#heading_styrelse {
    background-color: #fff;
    justify-content: flex-start;
    padding-left: 7.5vw;
}

#slakt_forening_section1 {
    padding: 200px;
}

#slakt_forening_section2 {
    align-items: center;
}

#section_styrelse_bild {
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
}

.board_member_card {
    padding: 20px 10px 20px 10px;
    flex-direction: row;
    width: 80%;
    height: 150px;
}

.section_forening_info {
    background-color: #F3F1EF;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 30px 0px 30px;
}

.small_paragraph_forening {
    font-size: 0.8rem;
    font-weight:500;
    text-align: left;
}

#h2_forening{
    font-weight: 900;
    font-weight: 1.6rem;
    width: 60vh;
}

#pone_forening{
    font-weight:600;
    font-size: 1.1rem;
    width: 60vh;
}

#ptwo_forening{
    margin-top: -10px;
    font-weight: 500;
    font-size: 0.8rem;
    width: 50vh;
}

#medlems_knapp {
    color: #fff;
    font-weight: 800;
    margin-top: 5px;
    padding: 10px 20px 10px 20px;
    border: #fff solid 2px;
}

.forening_img {
    width: 70%;
}

#forening_img1 {
    display: block;
}



/* Träd */

#slaktrad_section1 {
    height: 60vh;
}

#hII_trad {
    font-size: 2rem;
    margin-bottom: 10px;
}

.hIII_trad {
    margin-bottom: 10px;
    font-weight: 600;
}



#slakttrad_section2 {
    color: #273353;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 30px 0px 30px;
    height: 600px;
    width: 100vw;
}

#slakttrad_section3 {
    height: 400px;
    flex-direction: row;
    padding-left: 60px;
}

#slakttrad_section1 {
}

#wrapper_trad {

}

#trad_vapen {
    height: 90%;
    width: auto;
}

#hII_trad {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 10px;
}

.hIII_trad {
    color: #fff;
    margin-bottom: 10px;
    font-weight: 600;
}

.info_article_trad {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

}
