@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Caslon+Text&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Caslon Text', serif;
}

/* Styling av ID */

#grid_wrapper_start {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh auto 600px 300px;
    grid-template-areas: 
    "s1"
    "s2"
    "s3"
    "fo"
    ;
}

#wrapper_styrelse {
    position: absolute;
    top: 0;
    padding-top: 100px;
    background-color: #F3F1EF;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#welcome_text_section {
    grid-area: s1;
    margin: 200px 30px 200px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #273353;
    padding: 20px;
    border-radius: 1px;
}

#actual_updates_section {
    grid-area: s2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    background-color: #F3F1EF;
    color: #273353;
}

#förening_information {
    grid-area: s3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #273353;;
}

#nav{
    background-color: transparent;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 80px;
    width: 100%;
    z-index: 1;
}

#styrelse_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#information_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}


#img_area {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;

    background-image: url(/img/tallin.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    z-index: -1;
}

#slaktfoto {
    height: auto;
    width: 90%;
}

#burger {
    margin-right: 30px;
    cursor: pointer;
}

#burger div {
    background-color: white;
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 20%;
    transition: all 0.5s;
}

#link_list {
    position: absolute;
    top: -100vh;
    list-style: none;
    background-color: #fff;
    color: #273353;
    height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.25s;    
    font-size: 20px;
}

.link_list_visible {
    transform: translatey(100vh);
    margin-top: 80px;
}

.img_vapen {
    height: 80px;
    width: auto;
    margin-right: 5px;
    margin-left: 5px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Styling av CLASS */

.nav_other {
    background-color: #fff;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 80px;
    width: 100%;
    z-index: 1;
}

.update_article {
    height: auto;
    width: 90vw;
    background-color: #fff;
    padding: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #273353;
    margin-bottom: 20px;
}

.board_member_card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    width: 90vw;
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #273353;
}

.member_info {
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-wrap:break-word;
}

.member_img {
    height: 135px;
    width: 135px;
    border-radius: 50%;
    background-color: darkblue;
    margin-left: 10px;
    margin-right: 15px;
}

.mail_link {
    margin-top: 5px;
    font-size: 10px;
}

.update_date {
    font-weight: lighter;

}

.start_p {
    text-align: center;
    margin: 15px 10px 0 10px;
}

.burger_x_form #burger_line_2 {
    opacity: 0;
}

.burger_x_form #burger_line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_x_form #burger_line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Styling av taggar */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: 'Libre Caslon Text', serif;
    color: #fff;
    font-size: 30px;
}

h2 {
    margin: 0px 25px 20px 25px;
    text-align: center;
}

footer {
    width: 100%;
    margin-top: 40px;
    background-color: #273353;
    display: flex;
    justify-content: center;
}

img {
    height: 200px;
    width: auto;
    margin: 30px;
}

a {
    color:rgb(0,63,94);
    text-decoration: none;
}

/* Media Queries */

@media screen and (min-width: 700px) {
    header {

    }

    nav {

    }

}